header{
   background-color: #F6F6F9;
   padding: 20px;
}

.header-bg{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
   display: flex;
   justify-content: flex-start;
}

.header-conteudo ul{
   display: flex;
   gap: 30px;
}

.btn-menu{
   display: none;
}

.header-conteudo-mobile{
   display: none;
}

.header-conteudo a{
   font-size: 1.2rem;
   color: #000000;
   transition: 0.2s;
   display: inline-block;
   padding: 16px 0;
   position: relative;
}

.header-conteudo a::after {
   content: "";
   display: block;
   height: 2px;
   width: 0px;
   background: black;
   position: absolute;
   margin-top: 4px;
   transition: 0.3s;
 }
 
 .header-conteudo a:hover::after,
 .header-conteudo a.ativo::after {
   width: 100%;
 }

 @media (max-width: 800px) {
   .btn-menu{
      content: '-';
      display: block;
   }
   .header-conteudo {
     display: none;
   }
   .header-conteudo-mobile.ativo{
      display: flex;
      flex-direction: column;
   }
   .header a {
     background: #f5f5f5;
     border-radius: 4px;
   }
 }
 